.board {
  box-sizing: border-box;
  margin: 25px;
}

.title {
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
}

.add-card {
  margin-top: 12px;
  color: darkgrey;
  text-align: left;
  cursor: pointer;
}