.card {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  background-color: white;
}

.arrow {
  box-sizing: border-box;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: turquoise;
}

.left {
  margin-left: 8px;
}

.right {
  margin-right: 8px;
}

.up, .down {
  text-align: center;
}

.card-text {
  box-sizing: border-box;
  width: 100%;
  margin: 0 12px;
  padding: 14px 0;
  text-align: center;
}